<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Apps" thread-count="1"
	parallel="methods">
	<test name="Regression_Suite">
		<classes>

			<class name="com.stepdefinitions.SearchWeather" />
			<class name="com.stepdefinitions.WeatherDetails" />


		</classes>
	</test>
</suite>